@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* global color root */

:root {
  --primary-color: #0f151f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
}

input {
  outline: none !important;
}

input:focus {
  outline: none !important;
  border: none !important;
  background: #f2f5fa !important;
  box-shadow: none;
}

/* === Header ==== */
.desktop-menu ul .nav-item .nav-link {
  color: #fff;
}

.desktop-menu .navbar-nav {
  gap: 80px;
}
.desktop-menu {
  border-bottom: 1px solid #033775;
}
.header-desk {
  position: relative;
  z-index: 2;
  padding-bottom: 70px;
  padding-top: 5px;
}

/* ==== Header ==== */

/* == Hero Section Style=== */

.Hero_area_container {
  margin-top: -185px;
  background-image: url('../img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 120vh;
  position: relative;
  background-size: cover;
  padding-top: 100px;
}

.Hero_content .sub-title h3 {
  color: #66ff99;
  text-transform: uppercase;
  letter-spacing: 35px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}
.heading-title {
  padding: 20px 0;
}
.heading-title h1 {
  font-size: 110px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.discription-para {
  max-width: 40%;
  margin: auto;
  text-align: center;
}
.discription-para p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.services_section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.serv-content_left .title h1 {
  font-size: 70px;
  color: #fff;
  font-weight: 600;
}
.serv_discription p {
  color: #99a6bf;
  font-size: 15px;
  font-weight: 400;
}

.serv_discription .sectond_dis {
  font-weight: 500;
  font-size: 16px;
}

.bar-shape {
  background: #c1cee79a;
  height: 1px;
  display: block;
  width: 100%;
  opacity: 0.3;
}

.serv-card img {
  height: 307px;
  object-fit: cover;
}
.serv-card .card-title {
  font-size: 30px;
  font-weight: 600;
}
.serv-card .card-text {
  font-size: 20px;
  font-weight: 500;
  padding: 8px 0;
}

/* ======= about  */

.About {
  padding: 120px 0;
}

.about-heading .title h1 {
  font-size: 70px;
  color: #fff;
  font-weight: 600;
}
.about-disone {
  max-width: 70%;
}
.about-disone .sectond_dis {
  font-size: 18px;
  font-weight: 500;
}

.buletpoint {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #61b3f2;
  display: block;
}

.about_mission .about-sub-title {
  color: #61b3f2;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

.about_mission .content {
  gap: 100px;
}

.about_dis {
  max-width: 85%;
}
.about_mission .about_dis {
  color: #99a6bf;
}

.technology_about .techimage {
  height: 800px;
  object-fit: cover;
}

.technology_content {
  background-color: #fff;
}

.technology_content {
  padding: 90px;
  height: 800px;
}

.tecch_heading h1 {
  color: #1e2838;
  font-weight: 700;
  font-size: 65px;
  line-height: 80px;
}
.tech_disription p {
  font-size: 18px;
}
/* /about===== */

/* ======= team CSS===== */
.Team_card {
  height: 670px;
}

.borderb {
  border-bottom: 4px solid #47b26b;
}

.borderbm {
  border-bottom: 4px solid #5e96eb;
}
.Team_card .card {
  height: 100%;
}

.Team_card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.team_members {
  padding-top: 120px;
}

.team_headin_content .heading-title h1 {
  font-size: 70px;
  text-align: center;
  text-transform: capitalize;
}
.team_discription {
  max-width: 40%;
  margin: auto;
}
.team_discription p {
  text-align: center;
  color: #99a6bf;
}

.followbutton {
  background: #5e96eb;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: auto;
}

.pattran {
  border-bottom: 1px solid #ddd;
}

.temm_member_img {
  text-align: center;
  border: 1px solid #ddd;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #fff;
  margin-top: -100px;
}
.temm_member_img img {
  width: 85%;
  object-fit: cover;
  border-radius: 50%;
}

.Team_card .card-title {
  font-size: 34px;
  font-weight: 600;
}

.Team_card .designations {
  color: #5e96eb;
  font-weight: 600;
  letter-spacing: 6px;
  font-size: 20px;
  text-transform: uppercase;
}
.Team_card .card-text {
  color: #0f151f;
  font-weight: 500;
  padding-bottom: 2rem;
}
/*=============== Team Section =========== */

/* Advisors- ====== */
.Advisors-containerbg {
  background-image: url('../img/advisors.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  border-bottom: 1px solid #033775;
  height: 705px;
}

.Advisors-containerbg .heading-title h1 {
  font-size: 70px;
  text-align: center;
  text-transform: capitalize;
}

.Advisors-containerbg .Advisors_discription p {
  color: #99a6bf;
  text-align: center;
  max-width: 40%;
  margin: auto;
}

.Advisors {
  padding-top: 90px;
}

.Advisors_card {
  background: none !important;
  border: none !important;
}
.Advisors_card img {
  width: 120px;
  margin: auto;
}

.Advisors_card .card-body .card-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
}
.Advisors_card .card-body {
  padding-bottom: 0;
  text-align: center;
}
.Advisors_card .card-body .card-text {
  color: #5e96eb;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  max-width: 70%;
  margin: auto;
}
.Advisors_card a {
  text-align: center;
  background: #5e96eb;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 65px;
  border: 4px solid #003673;
}
.Advisors_card a:hover {
  border: 4px solid #003673;
}
.Advisors_card a img {
  width: 35px;
}

.follw-solve {
  background: transparent;
  color: #fff;
  outline: none;
  border: 1px solid #99a6bf;
  border-bottom: 3px solid #66ff99;
  width: 70%;
  padding: 17px;
}

.Our_approach {
  padding-bottom: 120px;
  padding-top: 80px;
}
.approach_container {
  border-left: 1px solid #99a6bf33;
}

.approach_content .heading h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 600;
}

.approach_content .heading p {
  color: #b0cceb;
  font-size: 18px;
  max-width: 85%;
}

.contact-bg {
  background-image: url('../img/contactbg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 60px;
}

.contact .title h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 600;
}

.contact .contact-discription p {
  color: #b0cceb;
}

.contact-form {
  background-color: #fff;
  padding: 80px 30px;
  border-top: 4px solid #47b26b;
}

.contact-form input {
  border-radius: 0;
  border: 1px solid #f2f5fa;
  background: #f2f5fa;
  padding: 12px;
}

.contact-form input:focus {
  outline: none;
  box-shadow: none;
  background: #f2f5fa;
  border: 1px solid #f2f5fa;
}

.contact-form input::placeholder {
  color: #a0abbd;
  font-weight: 600;
}
.contact-form textarea::placeholder {
  color: #a0abbd;
  font-weight: 600;
}
.contact-form textarea:focus {
  outline: none;
  box-shadow: none;
  background: #f2f5fa;
  border: 1px solid #f2f5fa;
}
.contact-form textarea {
  outline: none;
  border: 1px solid #f2f5fa;
  border-radius: 0;
  height: 150px;
  background: #f2f5fa;
}

.contact-form .submit {
  padding: 12px 40px;
  border-radius: 0;
  border: 1px solid #d9dadb;
  border-bottom: 3px solid #47b26b;
}

.footer-section {
  margin-top: -150px;
  padding-top: 80px;
  padding-bottom: 50px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-color: #061224;
  border-top: 1px solid #1e2838;
}
.footer-content h1 {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: -30px;
}
.socials-icons {
  padding-top: 20px;
}
.socials-icons a {
  display: inline-block;
  padding: 0 5px;
}
.socials-icons a img {
  height: 50px;
}

.footer-right-content {
  gap: 80px;
  margin-top: 40px;
}
.copyright {
  display: flex;
  align-items: center;
  gap: 100px;
}
.copyright span {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #2e5285;
  display: inline-block;
}
.copyright p {
  margin-bottom: 0;
  color: #2e5285;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-right-content p {
  text-transform: uppercase;
}
/* sponsive CSS  */

.nav-mobile-version {
  display: none;
}

@media only screen and (max-width: 1600px) {
}
@media only screen and (max-width: 1400px) {
  .technology_content {
    padding: 45px;
    height: 800px;
}
.temm_member_img img {
  width: 100%;
}
.Team_card .card-text {
  font-size: 14px;
  padding-bottom: 1rem;
}
.Advisors-containerbg {
  border-bottom: 0px solid #033775;
  height: auto;
}
}

@media only screen and (max-width: 1200px) {
  .heading-title h1 {
    font-size: 80px;
}
  .discription-para {
    max-width: 60%;
  }
  .Hero_content .sub-title h3 {
    letter-spacing: 30px;
  }
  .serv-content_left .title h1 {
    font-size: 50px;
}
.about-heading .title h1 {
  font-size: 50px;
}
.about-disone {
  max-width: 100%;
}
.tecch_heading h1 {
  font-size: 50px;
}
.tech_disription p {
  font-size: 16px;
}
.technology_content {
  padding: 29px;
  height: auto;
}
.technology_about .techimage {
  height: auto;
}
.team_headin_content .heading-title h1 {
  font-size: 50px;
}
.Team_card .card-title {
  font-size: 30px;
}
.Team_card .designations {
  letter-spacing: 4px;
  font-size: 18px;
}
.temm_member_img {
  width: 150px;
  height: 150px;
  margin-top: -90px;
}
.temm_member_img img {
  width: 85%;
}
.Advisors-containerbg .heading-title h1 {
  font-size: 50px;
}
.Advisors_card .card-body .card-title {
  font-size: 25px;
}
.Advisors_card .card-body .card-text {
  color: #5e96eb;
  font-size: 18px;
  font-weight: 500;
  max-width: 100%;
  margin: auto;
}
.contact .title h1 {
  font-size: 50px;
}
.approach_content .heading h1 {
  font-size: 50px;
}
.About {
  padding: 50px;
}
.copyright {
  gap: 25px;
}
.footer-right-content {
  gap: 25px;
}
.Advisors {
  padding-top: 0px;
}
.team_members {
  padding-top: 70px;
}
.serv-card .card-text {
  font-size: 16px;
}
.serv-card .card-title {
  font-size: 25px;
  font-weight: 600;
}

}

@media only screen and (max-width: 1020px) {
  .heading-title h1 {
    font-size: 80px;
}
.Hero_content .sub-title h3 {
  letter-spacing: 25px;
}
.about-disone {
  max-width: 100%;
}
}

@media only screen and (max-width: 991px) {
  
  .desktop-menu .navbar-nav {
    gap: 5px;
  }

  .nav-brand {
    display: none;
  }

  .nav-mobile-version {
    display: block;
    margin-right: 20px;
    width: 100px;
  }

  #navbarSupportedContent {
    padding-left: 10px;
    padding-right: 10px;

    background: #0f151f;
    transition: all 0.1s ease-in;
  }
  .navbar-toggler {
    margin-left: 10px;
  }
  i.fa-solid.fa-bars {
    font-size: 35px;
}
.Hero_content .sub-title h3 {
  letter-spacing: 20px;
}
  .heading-title h1 {
    font-size: 60px;
}
.discription-para {
  max-width: 80%;
}
.discription-para p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.about_mission .content {
  gap: 15px;
}
.Advisors_card a {
  margin-top: 30px;
}
.Advisors_card .card-body {
  padding-bottom: 30px;
}
.Advisors {
  padding-bottom: 60px;
}
button.follw-solve.mt-3 {
  margin-bottom: 30px;
}
.logo_for_approch.text-center {
  margin-bottom: 35px;
}
.contact .contact-discription p {
  margin-bottom: 40px;
}
.footer-content {
  margin-top: 70px;
}
}

@media only screen and (max-width: 768px) {
  .heading-title h1 {
    font-size: 60px;
}
.Hero_content .sub-title h3 {
  letter-spacing: 15px;
}
.nav-mobile-version {
  margin-right: 0px;
}
}

@media only screen and (max-width: 540px) {
  /* ===== Hearo  Area  */

  .Hero_area .heading-title h1 {
    font-size: 40px;
  }
  .Hero_area_container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .Hero_area .discription-para {
    max-width: 90%;
  }

  .Hero_area_container {
    min-height: 110vh;
  }
  .Hero_content .sub-title h3 {
    color: #66ff99;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }
  .discription-para p {
    font-size: 17px;
  }
}
